/*
.tabs {
    -fx-background-color: #000;
}
*/

.scroll-pane > .viewport {
   -fx-background-color: transparent;
}

.output {
    /*-fx-font: normal normal 10pt "Courier New";*/
    -fx-text-fill: white;
    -fx-alignment: bottom-left;
}

/*
GridPane.output {
    -fx-hgap:10px;
    -fx-vgap:10px;
}
*/

.error {
    /*-fx-font: normal bold 10pt "Courier New";*/
    -fx-text-fill: red;
}

.prompt {
    /*-fx-font: normal bold 10pt "Courier New";*/
    -fx-text-fill: white;
}

.input, .input .label {
    /*-fx-font: normal bold 10pt "Courier New";*/
    -fx-text-fill: white;
    -fx-fill: white;
    /*-fx-background-color: #000;*/
}

.cursor {
    /*-fx-font: normal bold 10pt "Courier New";*/
    -fx-text-fill: red;
    -fx-fill: red;
    -fx-background-color: #4f8;
}

.console {
    -fx-background-color: #000;
    width:100%;
    -fx-font: normal bold 10pt "Courier New";
}

/*
.keydesc {
    -fx-font: normal normal 28pt "Cambria";
    -fx-text-fill: #000;
}

.menu {
    padding-top: 20px;
    -fx-background-image: url('/org/excelsi/sketch/parchment-small2.jpg');
}
*/
