/*
.tabs {
    -fx-background-color: #000;
}
*/

.scroll-pane > .viewport {
   -fx-background-color: transparent;
}

.output {
    -fx-font: normal normal 12pt "Courier New";
    -fx-text-fill: white;
    -fx-alignment: bottom-left;
}

.error {
    -fx-font: normal bold 12pt "Courier New";
    -fx-text-fill: red;
}

.prompt {
    -fx-font: normal bold 12pt "Courier New";
    -fx-text-fill: white;
}

.input, .input .label {
    -fx-font: normal bold 12pt "Courier New";
    -fx-text-fill: white;
}

.cursor {
    -fx-font: normal bold 12pt "Courier New";
    -fx-text-fill: white;
    -fx-background-color: #4f8;
}

.console {
    -fx-background-color: #000;
    width:100%;
}

/*
.keydesc {
    -fx-font: normal normal 28pt "Cambria";
    -fx-text-fill: #000;
}

.menu {
    padding-top: 20px;
    -fx-background-image: url('/org/excelsi/sketch/parchment-small2.jpg');
}
*/
